body {
  font-family: "Consolas", "Microsoft YaHei", Arial, arial, sans-serif;
}

.angular-icheck {
  overflow: hidden;
  .checkbox {
    width: 22px;
    height: 22px;
    display: inline-block;
    vertical-align: middle;
    background: url("angular-icheck.png") no-repeat left;
    &.checked{
      background-position: -48px 0;
    }
  }
  .label {
    display: inline-block;
    vertical-align: middle;
  }
}